@inject SignInManager<User> signInManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex ">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Sklep</a>
                    </li>

                    <li class="nav-item dropdown text-dark">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Zarządzaj bazą danych
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Product" asp-action="ProductForm">Dodaj produkt</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Product" asp-action="BrandForm">Dodaj brand</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Product" asp-action="ColorForm">Dodaj kolor</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Product" asp-action="SizeForm">Dodaj rozmiar</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Product" asp-action="TypeForm">Dodaj typ</a>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Lista klientów</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Temp</a>
                        </div>
                    </li>

                </ul>

                <ul class="navbar-nav mr-auto">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form class="nav-link text-dark" method="post" asp-action="Logout" asp-controller="Account">
                                <button type="submit" class="nav-link btn btn-link py-0"
                                        style="width: auto">
                                    Wyloguj @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj</a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </nav>
</header>